/* .product-card {
    width: 280px;
    border: 1px solid #ffe6c6;
    background-color: #ffe6c6;
    border-radius: 10px;
    margin: 50px 20px;
    box-shadow: 5px 5px 5px grey;
}

.product-card:hover {
    box-shadow: 5px 5px 5px grey;
}

.product-thumbnail {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 260px;
    height: 
} */